@charset "UTF-8";


html {

	}

html, body {
	height:100%;
	}

* {
	padding: 0;
	margin: 0;
	}

img {
	border: 0;
}




/******************
   Headers
*******************/




/******************
   Classes
*******************/

[class*="col-"] {
    margin-bottom: 30px;
}

/******************
   ID
*******************/

#postText {
	margin-bottom: 15px;
}


/******************
   Search Bar
*******************/

	#searchid {
    width:500px;
    border:solid 1px #000;
    padding:10px;
    font-size:14px;
    }

	#result {
    position:absolute;
    width:500px;
    /*padding:10px;*/
    display:none;
    margin-top:-1px;
    border-top:0px;
    overflow:hidden;
    border:1px #CCC solid;
    background-color: white;
    }

  .show {
    padding:10px;
    font-size:15px;
    height:70px;
    }

  .show:hover {
    background:#4c66a4;
    color:#FFF;
    cursor:pointer;
    }


/******************
  User's Circles
*******************/

	#circles {

	}

	.circle {
		border:1px #CCC solid;
		padding: 10px;
		margin: 20px;
	}

	.circleTitle {
		font-size: 20px;
		color: #4c66a4;
		padding: 5px;
	}

	.circleDesc {
		font-size: 15px;
		color: #000;
		padding: 5px;
	}

	.BtnLeaveCircle {
		float: right;
	}


/******************
   Circle Page
*******************/

	.BtnDeleteCircle {
		margin: 20px;
	}

	.members {
		padding-top: 50px;
	}

	.circleMember {
		height: 50px;
		margin: 20px;
		align: left;
		vertical-align: middle;
		text-align: left;
	}

	.circleMemberName {
		margin-top: 10px;
		display: inline-block;
	    vertical-align: middle;
	    line-height: normal;
	}

	.circleMemberStatus {
		color: #4c66a4;
		font-weight: bold;
	}

	.circleMemberPhoto {
		width: 50px;
		height: 50px;
		margin-right: 20px;
		float: left;
	}

	.btnChangeCircleMemberStatus {
		float: right;
		margin-left: 20px;
	}
